<div data-reveal=" ">
  <h2 class="sign-up">Play with someone</h2>
  <div class="row">
    <div class="small-5 columns">
      <%= form_for @musician do |f|%>
      <p>
        <label for="left-label" class="left">Musician Name</label>
        <%= f.text_field :username %>
      </p>
      <p>
        <label for="left-label" class="left">Email</label>
        <%= f.text_field :email %>
      </p>
      <p>
        <label for="left-label" class="left">Password</label>
        <%= f.password_field :password %>
      </p>
      <p>
        <label for="left-label" class="left">Location</label>
        <%= f.text_field :location %>
      </p>
      <p>
        <label for="left-label" class="left">Instrument</label>
        <%= f.text_field :instrument %>
      </p>
    </div>
    <div class="small-5 columns">
      <p>
        <label for="left-label" class="left">Genre</label>
        <%= f.text_field :genre %>
      </p>
      <p>
         <label for="left-label" class="left">Skill Level</label>
        <%= f.text_field :skill_level %>
      </p>
      <p>
        <label for="left-label" class="left">Link Your Sound Clips</label>
        <%= f.text_field :url %>
      </p>
      <p>
        <label for="left-label" class="left">Describe Your Jam Style</label>
        <%= f.text_area :notes %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-4  small-offset-4 end columns">
      <p>
        <%= submit_tag "Jam With Us!",  :class=>"button postfix" %>
      </p>
    </div>
  </div>
  <% end %>
  <a class="closing close-reveal-modal">×</a>
</div>

