<div class="forms_container">
  <h1>Sign Up</h1>
  <div class="sign_up_confirmation">
    <div class="errors"></div>
    <%= form_for @musician do |f|%>
    <div>
      <div>
        <div>
          <%= f.text_field :username, :placeholder =>"Musician Name" %>
        </div>
        <div>
          <%= f.text_field :email, :placeholder =>"Email"  %>
        </div>
        <div>
          Password<br>
          <%= f.password_field :password, :class=>"form-control" %>
        </div>
        <div>
          <%= f.text_field :location, :placeholder =>"Location"  %>
        </div>
        <div>
          <%= f.text_field :instrument, :placeholder =>"Instrument"  %>
        </div>
        <div>
          <%= f.text_field :genre, :placeholder =>"Genre"  %>
        </div>
        <div>
          <%= f.text_field :skill_level, :placeholder =>"Skill Level"  %>
        </div>
        <div>
          <%= f.text_field :url, :placeholder =>"Link Your Sound Clips" %>
        </div>
        <div>
          <%= f.text_field :gravatar_url, :placeholder =>"Provide a Profile Picture Link"  %>
        </div>
        <div>
          <%= f.text_field :notes, :placeholder =>"Describe Your Jam Style"  %>
        </div>
        <div>
          <%= submit_tag "Jam With Us!!!",  :class=>"btn" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
