<div id="new-user-modal"  data-reveal id="newModal">
  <h1>Play with someone</h1>
  <div class="sign_up_confirmation">
<!--     <div class="errors">
      
</div> -->
<%= form_for @musician do |f|%>

<div class="row">
  <div class="small-4  small-offset-1 columns">
    <p>
      <%= f.text_field :username, :placeholder =>"Musician Name" %>
    </p>
    <p>
      <%= f.text_field :email, :placeholder =>"Email"  %>
    </p>
    <p>
      <!-- Password<br> -->
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.text_field :location, :placeholder =>"Location"  %>
    </p>
    <p>
      <%= f.text_field :instrument, :placeholder =>"Instrument"  %>
    </p>
  </div>
  <div class="small-4 columns">
    <p>
      <%= f.text_field :genre, :placeholder =>"Genre"  %>
    </p>
    <p>
      <%= f.text_field :skill_level, :placeholder =>"Skill Level"  %>
    </p>
    <p>
      <%= f.text_field :url, :placeholder =>"Link Your Sound Clips" %>
    </p>
    <p>
      <%= f.text_field :gravatar_url, :placeholder =>"Provide a Profile Picture Link"  %>
    </p>
    <p>
      <%= f.text_area :notes, :placeholder =>"Describe Your Jam Style"  %>
    </p>
  </div>
</div>
<div class="row">
<div class="small-3  small-offset-5 end columns">
    <p>
      <%= submit_tag "Jam With Us!",  :class=>"button postfix" %>
    </p>
  </div>
</div>
<% end %>
</div>

</div>
</div>
