<div class="forms_container">
  <h1>Sign Up</h1>
  <div class="sign_up_confirmation">
    <div class="errors"></div>
    <%= form_tag @musicians do |f| %>
    <div class="row">
      <div class= "col-md-5 col-md-offset-5">
        <div class= "col-md-12 login-space">
          <%= text_field_tag :username, "Musician Name" %>
        </div>
        <div class= "col-md-12 ">
          <%= text_field_tag :email, "Email"%>
        </div>
        <div class= "col-md-12 ">
          Password<br>
          <%= password_field_tag :password_hash, :placeholder=>"Password", :class=>"form-control" %>
        </div>
        <div class= "col-md-12 ">
          <%= text_field_tag :location, "Location"%>
        </div>
        <div class= "col-md-12 ">
          <%= text_field_tag :instrument, "Instrument"%>
        </div>
        <div class= "col-md-12 ">
          <%= text_field_tag :genre, "Genre"%>
        </div>
        <div class= "col-md-12 ">
          <%= text_field_tag :skill_level, "Skill Level"%>
        </div>
        <div class= "col-md-12 ">
          <%= text_field_tag :url, "Link to Your Sound Sample"%>
        </div>
        <div class= "col-md-12 ">
          <%= text_field_tag :gravatar_url, "Profile Image"%>
        </div>
        <div class= "col-md-12 ">
          <%= text_field_tag :notes, "More About Your Jam Style"%>
        </div>
        <div class= "col-md-4">
          <%= submit_tag "Jam With Us!",  :class=>"btn" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
