<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>

    <%= csrf_meta_tags %>
  </head>
  <div class="sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <div id="logo">WeJam</div>
  </nav>
</div>
  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>