<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%# Either fix this or hard code...but you should learn about content_for, you see it in the real world %>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
  </body>
  <script type="text/javascript" charset="utf-8">
     $(document).foundation();
  </script>

</html>
